# Functions

In [ ]:
# function :

def name (args):
    #code

In [21]:
def msg():
    print("Hello this is my python session!!!")

In [22]:
msg()

Hello this is my python session!!!

In [23]:
def add(x,y):
    z=x+y
    print(z)

In [25]:
add(2,3)

5

In [12]:
def info(id,name,city,salary):
    print("id is :",id)
    print("name is  :",name)
    print("city is. :",city)
    print("salary is :",salary)

In [13]:
info(101,"Amit","Delhi",45778)

id is : 101
name is  : Amit
city is. : Delhi
salary is : 45778

In [ ]:
def add_numbers(x, y):
    return x + y

result = add_numbers(3, 4)
print(result)

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

result = factorial(5)
print(result)

In [ ]:
def find_max(numbers):
    max_value = max(numbers)
    return max_value

numbers = [10, 20, 5, 30]
print(find_max(numbers))

In [ ]:
def average(*args):
    return sum(args) / len(args)

print(average(1, 2, 3, 4, 5))

In [16]:
def info(id,name,city="Delhi",salary=20000):
    print("id is :",id)
    print("name is  :",name)
    print("city is. :",city)
    print("salary is :",salary)

In [17]:
info(101,"Amit")

id is : 101
name is  : Amit
city is. : Delhi
salary is : 20000

In [18]:
info(101,"Amit","Noida",450000)

id is : 101
name is  : Amit
city is. : Noida
salary is : 450000

In [19]:
info(101,"Amit",salary=55000)

id is : 101
name is  : Amit
city is. : Delhi
salary is : 55000

#### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [11]:
data=[23,56,42,88,21,45,7,90,54,87]

even=[]
for x in data:
    if x%2==0:
        even.append(x)
even

[56, 42, 88, 90, 54]

In [12]:
data=[23,56,42,88,21,45,7,90,54,87]

data1=[ x   for x in data   if x%2==0 ]

data1

[56, 42, 88, 90, 54]

In [13]:
data=[23,56,42,88,21,45,7,90,54,87]

even=[]
for x in data:
    if x%2==0 :
        if x>50:
            even.append(x)
even

[56, 88, 90, 54]

In [14]:
data=[23,56,42,88,21,45,7,90,54,87]

data1=[ x   for x in data   if x%2==0   if x>50]

data1

[56, 88, 90, 54]

In [15]:
data=[23,56,42,88,21,45,7,90,54,87]

newdata=[]

for x in data:
    newdata.append(x*0.2)
    
newdata

[4.6000000000000005,
 11.200000000000001,
 8.4,
 17.6,
 4.2,
 9.0,
 1.4000000000000001,
 18.0,
 10.8,
 17.400000000000002]

In [16]:
data=[23,56,42,88,21,45,7,90,54,87]

newdata= [x*0.2    for x in data]

newdata

[4.6000000000000005,
 11.200000000000001,
 8.4,
 17.6,
 4.2,
 9.0,
 1.4000000000000001,
 18.0,
 10.8,
 17.400000000000002]

In [1]:
data=[101,"Amit",23,"Delhi",65758,23]

for x in range(len(data)):
    if data[x]==23:
        print(x)

2
5

In [1]:
data=[101,"Amit",23,"Delhi",65758,23]

Q=[ x  for x in range(len(data))  if data[x]==23 ]

Q

[23, 23]

In [17]:
Gender=['M','F','M','M','F','F','M']

newG=[]

for x in Gender:
    if x=="M":
        newG.append(1)
    else:
        newG.append(0)
        
newG

[1, 0, 1, 1, 0, 0, 1]

In [18]:
Gender=['M','F','M','M','F','F','M']

data=[1   if x=='M'  else 0    for x in Gender]

data

[1, 0, 1, 1, 0, 0, 1]

#### Lambda Functions

"def" keyword is used to define the normal functions and the "lambda" keyword is used to create anonymous functions
Lambda definition does not include a return statement, it always contains an expression which is returned. 
We can also put a lambda definition anywhere a function is expected, and we donít have to assign  it to a variable at all. 

lambda arguments: expression

1.This function can have any number of arguments but only one expression,  which is evaluated and returned.
2.One is free to use lambda functions wherever function objects are required.
3.You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.
4.It has various uses in particular fields of programming besides other 
types of expressions in functions.

In [1]:
def cube(x):
    return x*x*x

In [3]:
cube(3)

27

In [2]:
a=lambda x : x*x*x

In [4]:
a(4)

64

In [5]:
def add(x,y):
    return x+y

In [6]:
a=lambda x,y : x+y

In [7]:
add(3,4)

7

In [8]:
a(6,7)

13

Map, Filter and Reduce

In [9]:
data=["Amit","Deepak","Sam","Archna","Ahuja"]

def sliced(name):
    return name[0:2]

list(map(sliced,data))

['Am', 'De', 'Sa', 'Ar', 'Ah']

In [10]:
data=["Amit","Deepak","Sam","Archna","Ahuja"]

list(map(lambda name : name[0:2],data))

['Am', 'De', 'Sa', 'Ar', 'Ah']

In [11]:
data=[23,45,22,62,78,64,55]

list(filter(lambda x : x%2==0,data))

[22, 62, 78, 64]

In [12]:
import functools
data=[23,45,22,62,78,64,55]

functools.reduce(lambda x,y : x+y,data)

349

In [49]:
#global : outside function
#local : inside function
 
    
p=100 #global

def m1():
    q=200 #local
    print(p,q)
    
def m2():
    print(p)
    print(q)
   
    
m1()
m2()

100 200
100

NameError: name 'q' is not defined