# File handling

#### CSV

In [1]:
# Read Csv Files
import csv

with open('C:\\Users\\Saket Kumar\\Downloads\\Youtube\\CSV_File.csv', 'r') as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        print(row)

['Name', 'Place', 'Thing', 'Animal', 'Colour']
['John', 'Paris', 'Laptop', 'Dog', 'Blue']
['Sarah', 'New York', 'Bicycle', 'Cat', 'Red']
['Michael', 'London', 'Book', 'Rabbit', 'Green']
['Emily', 'Tokyo', 'Chair', 'Elephant', 'Yellow']
['David', 'Sydney', 'Table', 'Tiger', 'Orange']
['Jessica', 'Rome', 'Phone', 'Lion', 'Purple']
['James', 'Berlin', 'Car', 'Monkey', 'Pink']
['Olivia', 'Beijing', 'Watch', 'Dolphin', 'Brown']
['Liam', 'Mumbai', 'Guitar', 'Panda', 'Black']
['Ava', 'Moscow', 'Camera', 'Penguin', 'White']

In [2]:
# Read Csv Files in pandas
import pandas as pd

CSV_Pandas = pd.read_csv('C:\\Users\\Saket Kumar\\Downloads\\Youtube\\CSV_File.csv')
CSV_Pandas

      Name     Place    Thing    Animal  Colour
0     John     Paris   Laptop       Dog    Blue
1    Sarah  New York  Bicycle       Cat     Red
2  Michael    London     Book    Rabbit   Green
3    Emily     Tokyo    Chair  Elephant  Yellow
4    David    Sydney    Table     Tiger  Orange
5  Jessica      Rome    Phone      Lion  Purple
6    James    Berlin      Car    Monkey    Pink
7   Olivia   Beijing    Watch   Dolphin   Brown
8     Liam    Mumbai   Guitar     Panda   Black
9      Ava    Moscow   Camera   Penguin   White

In [3]:
# Read Csv Files with other character seperated values
DASH_SEPERATED = pd.read_csv('C:\\Users\\Saket Kumar\\Downloads\\Youtube\\DASH_SEPERATED.csv', delimiter='-')
DASH_SEPERATED

     Name  Age           City
0     Joh   28       New York
1   Alice   24    Los Angeles
2     Bob   32        Chicago
3     Eva   22  San Francisco
4   David   29         Boston
5  Sophia   27          Miami

In [4]:
# Write to csv format

EXCEL_DATA = pd.read_excel('C:\\Users\\Saket Kumar\\Downloads\\Youtube\\EXCEL_DATA.xlsx')
EXCEL_DATA.to_csv(' EXCEL_DATA.csv', index = False)

#### XLSX

In [5]:
# Read excel Files

EXCEL_FILE = pd.read_excel('C:\\Users\\Saket Kumar\\Downloads\\Youtube\\EXCEL_FILE.xlsx')
EXCEL_FILE

      Name     Place    Thing    Animal  Colour
0     John     Paris   Laptop       Dog    Blue
1    Sarah  New York  Bicycle       Cat     Red
2  Michael    London     Book    Rabbit   Green
3    Emily     Tokyo    Chair  Elephant  Yellow
4    David    Sydney    Table     Tiger  Orange
5  Jessica      Rome    Phone      Lion  Purple
6    James    Berlin      Car    Monkey    Pink
7   Olivia   Beijing    Watch   Dolphin   Brown
8     Liam    Mumbai   Guitar     Panda   Black
9      Ava    Moscow   Camera   Penguin   White

In [6]:
# Write to xlsx format
DASH_SEPERATED.to_excel('DASH_SEPERATED.xlsx', index = False)

#TEXT

f=open("file","mode")

mode :

r , rt => read => default mode
w , wt => write => file exists : override data , if file not exists : create 
a , at => append => file exsits : append , if file not exists : create
r+
w+
a+
    
#bytes :
   rb, wb ,ab, rb+ ,wb+ ,ab+

In [7]:
f=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\Text_File.txt","w")
print(f.mode)
print(f.name)
print(f.writable())
print(f.readable())
print(f.closed)
f.close()
print(f.closed)

w
C:\Users\Saket Kumar\Downloads\Youtube\Text_File.txt
True
False
False
True

In [8]:
g=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\CREATE_File.txt","wt")

g.write("Hello\nHi\nHow\nare")

g.close()

In [9]:
g=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\CREATE_File.txt","w")

g.write("Hello Welcome to World")

g.close()

In [10]:
f=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\Text_File.txt","a")

f.write("\nAmit kumar")

f.close()

In [11]:
f=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\CREATE_File.txt","w")

f.write("Hello") #If we use .write() multiple times and it will not overwrite the data.
f.write("World")

f.close()

In [12]:
f=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\Text_File.txt","r")

data=f.read(11)
print(data)

f.close()

Amit kumar

In [13]:
f=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\Text_File.txt","r")

data=f.readline()
print(data)

f.close()

In [14]:
f=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\Text_File.txt","r")

data=f.readlines() # return list
print(data)

f.close()

['\n', 'Amit kumar']

In [15]:
f=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\Text_File.txt","r")

print(f.read(5))
print(f.readline())
print(f.read(7)) 
print(f.read()) #.read() will read the data from current cursor position till end.

f.close()

Amit
 kumar

In [16]:
f=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\Text_File.txt","r")
print(f.tell()) # Cursor location
f.readline()
print(f.tell())

0
2

In [17]:
f=open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\Text_File.txt","r")
print(f.read())
f.seek(35)
print(f.read())

Amit kumar

In [18]:
with open("C:/Users/Saket Kumar/Downloads/Data Science/abc.txt","r") as f:
    print(f.read())
print(f.closed)

Amazon, the multinational e-commerce giant, has done the impossible and
reached a staggering 1$ Trillion dollars market cap in the past few
years, and is expected to reach over 1$ Trillion in revenues by the year 2025.

Amazonâ€™s Investors can continue to enjoy its development and bright prospects,
with an increasing market worth.


Build l
True

In [19]:
# JSON
people_string='''
{
 "people":[
       {
        "name": "John",
        "phone": "123-234-5678",
        "emails": ["Jhon@gmail.com","jhonsmith@gmail.com"],
        "has_license": false
        },
        
        {
        "name": "John Doe",
        "phone": "123-234-5678",
        "emails": ["Jhon23@gmail.com","jhonDoe@gmail.com"],
        "has_license": true
        }
      ]
   }'''

In [20]:
import json

json vs python
json          python
object        dict
array         list
string        str
number(int)   int
number(real)  float
true          True
false         False
null          None

read data

load => file # file is .txt,.json,.doc, etc
loads => str # string is defined here

In [21]:
data=json.loads(people_string)
data

{'people': [{'name': 'John',
   'phone': '123-234-5678',
   'emails': ['Jhon@gmail.com', 'jhonsmith@gmail.com'],
   'has_license': False},
  {'name': 'John Doe',
   'phone': '123-234-5678',
   'emails': ['Jhon23@gmail.com', 'jhonDoe@gmail.com'],
   'has_license': True}]}

write
    
dump : file
dumps : string

In [22]:
with open("C:\\Users\\Saket Kumar\\Downloads\\Youtube\\xyt.json","w") as f:
    json.dump(data,f,indent=3)
# Create a file xyt.json and dump the data value in it

In [23]:
with open("C:/Users/Saket Kumar/Downloads/Data Science/xyt.json","r") as f:
    data1=json.load(f)
data1

{'people': [{'name': 'John',
   'phone': '123-234-5678',
   'emails': ['Jhon@gmail.com', 'jhonsmith@gmail.com'],
   'has_license': False},
  {'name': 'John Doe',
   'phone': '123-234-5678',
   'emails': ['Jhon23@gmail.com', 'jhonDoe@gmail.com'],
   'has_license': True}]}

# Concatenate 2 Json file and create a csv file
import pandas as pd
df1 = pd.read_json('first.json')
print(df1)
df2 = pd.read_json('second.json')
print(df2)
df = pd.concat([df1,df2])
print(df)
df.to_csv("CSV.csv",index=False)
result = pd.read_csv("CSV.csv")
print(result)